{% extends 'portal/base.html' %}
{% block content %}
<h2>Productos y servicios</h2>
<div class="row">
  <div class="col-md-4">
    <h5>HCE</h5>
    <ul><li>Fichas de pacientes</li><li>Interconsulta</li><li>Recetas electrónicas</li></ul>
  </div>
  <div class="col-md-4">
    <h5>Telemedicina</h5>
    <ul><li>Videoconsultas seguras</li><li>Agendamiento</li><li>Pagos integrados</li></ul>
  </div>
  <div class="col-md-4">
    <h5>Análisis de datos</h5>
    <ul><li>Dashboards clínicos</li><li>Alertas poblacionales</li><li>Exportes</li></ul>
  </div>
</div>
{% endblock %}
